input {
    width: 40% !important;
}

.SearchPage {
    padding: 30px;
}

.Search-Icon {
    padding: 10px 10px;
}

.favorite {
    color: red !important;
}

.search-image {
    width: 200px;
    height: 150px;
    padding: 10px;
}

input {
    text-align: center;
}

button.favorite {
    background-color: transparent !important;
    border: none !important;
}

input[type=search]:not(.browser-default):focus:not([readonly]) {
    border-bottom: 1px solid #F4A360 !important;
    box-shadow: 0 1px 0 0 #F4A360 !important;
}