nav {
    background: linear-gradient(120deg, #F7AC1B 0%, #fda085 100%) !important;
    color: white;
    padding-bottom: 10px;
    height: 85px;
}

a {
    color: black !important;
    padding-top: 15px;
    padding-right: 15px;
    size: 10px;
}

.Right {
    float: right;
    color: white !important
}

.Left {
    float: left;
    font-size: 15px;
    padding-left: 15px;
    padding-top: 10px;
    color: white !important;
}

.loaf {
    font-size: 30px;
}

.icon {
    color: white !important;
}

.brand-logo.center {
    letter-spacing: -0.05em;
    font-weight: 800;
    color: white !important;
    font-size: 50px !important;
    padding: 10px;
}

.Welcome {
    float: left;
    padding: 20px;
}
